@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  /* Fonts */
  --font-playfair: 'Playfair Display', serif; /* Headings */
  --font-poppins: 'Poppins', sans-serif; /* Body */
  --font-dancing: 'Dancing Script', cursive; /* Special */

  /* Colors */
  --color-primaryBg: #101418; /* Primary Background */
  --color-secondaryBg: #1c222a; /* Secondary Background*/
  --color-tertiaryBg: #f8fafc; /* Tertiary Background */
  --color-primaryHoverBg: #334155; /* Button hover */
  --color-secondaryHoverBg: #f97316; /* Text hover */

  /* Text Colors */
  --color-headingTextColor: #f59e0b; /* Headings */
  --color-bodyTextColor: #e2e8f0; /* Normal text */
  --color-specialTextColor: #3b82f6; /* Highlights */
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-in-out;
}

